<div class="profile">
  <img src="/img/samp.jpg" class="profile-pic" />
  <div class="band-info">
    <div class="band-name"><%= @band.name %></div>

    <div class="location"><%= @band.address %></div>

    <div class="relationship">
      <% if relationship_exists?(current_band, @band) %>
        <%= current_band.relationship_with(@band) %>
      <% else %>
        <%= link_to 'Send friend request', send_request_path(@band.id), :method => :post %>
      <% end %>
    </div>

    <%= link_to @band.genre_list.first, tag_path(@band.genre_list.first) %></p>

  </div>
</div>

<div class="friends-list">
  <% @mutual_friends.each do |friend| %>
    <div class="friend-panel row">
      <img src="/img/samp.jpg" class="col-md-2 no-gutter" />
      <div class="friend-info col-md-10">
        <%= link_to friend.name, band_path(friend) %>
      </div>
    </div>
  <% end %>

  <h2>Other friends</h2>
  <% @other_friends.each do |friend| %>
    <p><%= link_to friend.name, band_path(friend) %></p>
  <% end %>
</div>
