<h1>Page for <%= @band.name %></h1>

<h2>Friends</h2>
<% @friends.each do |friend| %>
  <p><%= friend.name %> (<%= friend.id %>)</p>
<% end %>

<h2>Sent Requests</h2>
<% @sent_requests.each do |request| %>
  <p><%= request.name %> (<%= request.id %>)</p>
<% end %>

<h2>Recieved Requests</h2>
<% @received_requests.each do |request| %>
  <p><%= request.name %> (<%= request.id %>) - <%= link_to 'Accept Request', accept_request_path(request.id) %></p>
<% end %>
