<h1>Page for <%= @band.name %></h1>

<h2>Mutual Friends</h2>
<% (@band.friends_list & current_band.friends_list).each do |friend| %>
  <p><%= friend.name %></p>
<% end %>

<h2>Friends</h2>
<% (@band.friends_list - current_band.friends_list).each do |friend| %>
  <p><%= friend.name %> (<%= friend.id %>)</p>
<% end %>

<% if authorized?(@band) %>

  <h2>Sent Requests</h2>
  <% @sent_requests.each do |request| %>
    <p><%= request.name %> (<%= request.id %>)</p>
  <% end %>

  <h2>Received Requests</h2>
  <% @received_requests.each do |request| %>
    <p><%= request.name %> (<%= request.id %>) - <%= link_to 'Accept Request', accept_request_path(request.id) %></p>
  <% end %>

<% end %>
