<%= render partial: "profile_sidebar", locals: { band: @band } %>

<div class="player">
</div>

<%= render partial: "relationships/friend_list", locals: { friends: current_band.get_mutual_friends(@band).first(5) } %>

  <p><%= link_to "View all friends...", band_relationships_path(@band) %></p>

  <% if authorized?(@band) %>

    <h2>Sent Requests</h2>
    <% @sent_requests.each do |request| %>
      <p><%= request.name %> (<%= request.id %>)</p>
    <% end %>

    <h2>Received Requests</h2>
    <% @received_requests.each do |request| %>
      <p><%= request.name %> (<%= request.id %>) - <%= link_to 'Accept Request', accept_request_path(request.id) %></p>
    <% end %>

  <% end %>
</div>
